.bottom-nav {
background-color: var(--sort);
position: fixed;
bottom: 0;
width: 100%;
height: 10vh;
}

.bottom-nav a {
    color: inherit;
}

/* 5rem removed for at stoppe scrolling, tilføj 5rem til content på siderne så nav bar ikke overlapper */