a {
  text-decoration: none;
  color: var(--sort);
  font-weight: 500;
}

.page {
  margin: 10vh 1vw 10vh 1vw; /* stopper overlap med top-nav og bottom-nav */
}

.home-boxes{
  display: flex;
  flex-direction: row;

}

.home-boxes img{
  width: 15vh;
  height: 15vh;
  background-color: red;

}

.home-box-left{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
