.page {
  margin: 8vh 1vw 8vh 1vw; /* stopper overlap med top-nav og bottom-nav */
  display: flex;
}

body {
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

/*Widget styling/flex*/

.child-home,
.forældre-home {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 18vh); /*hele skærmen - bottom nav + top margin*/
}

.forældre-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.forældre-home h2 {
  margin-bottom: 2rem;
}

.add-child-btn {
  background-color: var(--accent-color);
  margin: 3rem 0rem;
}


.home-boxes {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  height: 20rem;
}

.home-box {
  border: 0.2rem solid #febe2c;
  border-radius: 0.2rem;
  padding: 1rem;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  margin: 0rem 0rem 0rem 0rem;
  height: 100%;
}

.home-box img {
  height: 3.8rem;
}

.task-box {
  border: 0.2rem solid #febe2c;
  border-radius: 0.2rem;
  padding: 0rem 0.8rem;
  background-color: white;
  display: flex;
  text-align: center;
  font-weight: bold;
  flex-direction: column;
  width: 65%;
  margin: 1rem 0.5rem 0rem 0.5rem;
  align-items: center;
}


.home-left {
  display: flex;
  flex-direction: column;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: stretch;
  text-align: center;
  font-weight: bold;
  margin: 1rem 0.5rem 0rem 0.5rem;
  width: 35%;
}


.top {
  margin-bottom: 1rem;
}



.task-box ul {
    border: solid 0.1rem #000000;
    width: 95%;
}

.task-box ul li {
    padding: 0.5rem;
}

.task-box ul p {
    display: none;
}

.navn-point {
    display: flex;
    justify-content: space-between;
}


.task-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.2rem;
}

.task-box h3 {
    margin: 0;
}

.home-box img {
  max-width: 100%;
  max-height: 100%;
  height: 5rem;
}

/*child konto preview*/

section.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 calc(33.33% - 0.67rem);
  max-width: calc(33.33% - 0.67rem);
  padding-bottom: 5vh;
}

.user-avatar {
  width: 60px;
  height: 60px;
}

.user-info {
  text-align: center;
  width: 100%;
}

.user-name {
  margin: 0;
  font-size: 1rem;
  color: #333;
}

.user-email {
  margin: 0.5rem 0 0 0;
  font-size: 0.8rem;
  color: #666;
  font-style: italic;
}
