.karousel-box {
  /*background-color: red; til trouble shooting*/
  background-image: url(/public/img/elipse.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  margin-top: auto;
  margin-bottom: 8vh;
}

.karousel-main img {
  width: 25%;
  height: auto;
}

.arrows {
  margin: 5vh 0 5vh 0;
  gap: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.karousel-main {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.karousel-image {
  width: 25%;
  height: auto;
}

.karousel-image.active {
  opacity: 1;
  z-index: 2;
}

.karousel-image.side {
  transform: scale(0.6);
  z-index: 1;
}

.karousel-image.side.left {
  transform: scale(0.6) translateY(50%) rotate(-25deg);
}

.karousel-image.side.right {
  transform: scale(0.6) translateY(50%) rotate(25deg);
}

/*"edit mode" aktiveret*/

.arrows.edit-mode {
  margin: 5vh 0 5vh 0;
  gap: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.karousel-box.edit-mode {
  position: fixed;
  top: 8vh;
  left: 0;
  right: 0;
  z-index: 10;
  /*background-color: red;  til trouble shooting */
  box-shadow: 2px 2px 5px #313131;
  background-color: var(--hvid);
}

.customize-box-wrapper {
  background-color: #313131;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.customize-box {
  padding-top: 40vh;
  min-height: 200vh;
  width: 100%;
}

.custom-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;
}

.custom-buttons button {
  aspect-ratio: 2 / 2;
}
