.profil-image-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  cursor: pointer;
}

.profilbillede {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--accent-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.profil-header {
  padding-top: 10vh;
  text-align: center;
}

.profil-header h1 {
  margin-top: 1rem;
}

.point-profil p {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
}

.profil-box {
  margin-top: 1rem;
  margin: 1rem 1rem 1rem 1rem;
  font-size: 1.5rem;
  font-weight: 100;
  border-radius: 1rem;
  background-color: var(--hvid);
  box-shadow: 2px 2px 1px rgba(61, 61, 61, 0.5);
  border: 0.1px solid rgba(0, 0, 0, 0.2);
}
