:root {
  --accent-color: #febe2c;
  --sort: #222222;
  --hvid: #fefefe;
  --komplementær: #2c6cfe;
  --grøn: #4caf50;
  --rød: #f44336;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--komplementær);
  font-weight: 500;
}

.bottom-nav img {
  width: 40px;
  height: 40px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 2px 0px rgba(92, 92, 92, 0.8);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

html,
body,
#root {
  height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.tilbage-knap {
  border: none;
  color: var(--sort);
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
  transform: rotate(180deg) scale(1.5);
  outline: none;
}

main,
.page-container,
.shop-manager-container {
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
}
