ul li div button:first-child{
    border: 0.2rem solid green;
    background-color: white;
    font-weight: bold;
    margin-right: 1rem;
}
ul li div button:last-child{
    border: 0.2rem solid red;
    background-color: white;
    font-weight: bold;
}